<configuration scan="true" scanPeriod="30 seconds">
	
  <!-- This file is managed by the samServices chef cookbook -->  
  <!-- Only keeping it here until chef can do local deployments  -->  
  	<property name="DEV_HOME" value="/tmp" />
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/osirc_applicationLog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/OSIRC-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS,PST} [%thread] %-5level %logger{24} - %M - %msg%n%xEx{3}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
	
 	<logger name="org.apache.http.wire" level="DEBUG"/>
	<logger name="org.springframework.web.client" level="DEBUG" />

</configuration>