<div>
<h2 class="heading-name">Offer Page</h2><br>
	<div ng-class="cls" ng-show="message" align="center"
		style="width: 850px; position: relative; top: -35px; height:50">
			<h5 style=" margin-top: 2px;">{{message}}</h5>
	</div>

 <div class="searchposition-container" style="">
		<br>
		<form action="#" name="offerPage" id="integerForm" role="form" class="form-horizontal">
			<div>
				<datagrid column-header='col' attributes='att' obj='myData' search-enable='true' array-attributes='att1' editfun='selectCandidate(val)' addlink='offer/createOffer'></datagrid>
			</div>
		</form>
	</div>
</div>