<h3 class="heading-name" ng-model="pageName" >{{pageName}}</h3>
<div class="container" ng-controller="createOfferCtrl">
<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	<div ng-class="cls" ng-show="message" align="center"
		style="width: 850px; position: relative; left: -60; height: 50">
		<h5 style="margin-top: 2px;">{{message}}</h5>
	</div>
	<!-- ----------------------------------alert Message--------------------------------------------------------- -->
	
	<form name="form" class="form-horizontal" onvalidate>
		<div class="panel panel-default">
			<div class="panel-heading text-center margin-bottom">
				<Strong class="panel-title">Candidate Details</Strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group">
						<label class="lbl col-md-2 col-md-offset-1"><i
							class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Candidate Name<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<!-- <input type="text" name="name" class="form-control"
								ng-disabled="true" ng-model="candidate.candidateName"
								style="width: 220px;"> -->
							<label style="color:blue">{{candidate.candidateName}}</label>	
						</div>
						<label class="lbl col-md-2"><i
							class="glyphicon glyphicon-barcode"></i>&nbsp;&nbsp;
							JobCode <b style="color: red;">*</b></label>
						<div class="col-md-3">
							<!-- <input type="text" name="jobcode" class="form-control"
								ng-disabled="true" ng-model="candidate.jobcodeProfile"
								style="width: 220px;"> -->
							<label style="color:blue">{{candidate.jobcodeProfile}}</label>	
						</div>
					</div>
					<div class="form-group">
						<!-- <label class="lbl col-md-2 col-md-offset-1"><i
							class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Email Id<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control" type="email" name="emailId"
								ng-model="candidate.emailId" class="form-control"
								ng-disabled="true" placeholder="Enter Email Id" required>
						</div>
						<label class="lbl col-md-2"><i
							class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Mobile<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control" type="text" name="mobileNo"
								ng-model="profile.mobileNo" class="form-control"
								ng-disabled="true" placeholder="Enter Mobile No" required>
						</div> -->
						
						<label class="lbl col-md-2" style="margin-left:100px"><i
							class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Reporting Manager<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control input-sm" type="text" name="reportingManager" ng-change="validateOffer();" 
								ng-model="candidate.reportingManager" class="form-control"
								ng-disabled="false" placeholder="Select Reporting Manager" autocomplete="off"
								typeahead="manager.name for manager in managers | filter:$viewValue | limitTo:8" required>
								
								<!-- <input name="states" id="states" type="text" placeholder="enter a state" 
								ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control"> -->
						</div>
						<label class="lbl col-md-2 col-md-offset-1" style="margin-left:0px"><i
							class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Project<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control input-sm" type="text" name="project" ng-change="validateOffer();" 
								ng-model="candidate.project" class="form-control"
								placeholder="Enter Project Name" required>
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="lbl col-md-2 col-md-offset-1"><i
							class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Client<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control" type="text" name="client"
								ng-model="candidate.client" class="form-control"
								ng-disabled="true" placeholder="Select Client" required>
						</div>
						
					</div> -->
					<div class="form-group">
						
						<!-- <label class="lbl col-md-2" style="margin-left:100px"><i
							class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;HR Manager<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input class="form-control input-sm" type="text" name="hrManager" ng-change="validateOffer();" 
								ng-model="candidate.hrManager" class="form-control"
								ng-disabled="false" placeholder="Select HR Manager" required>
						</div> -->
						<label class="lbl col-md-2 col-md-offset-1" style="margin-center:0px"><i
							class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Immigration
							Status<span style="color: red;">*</span></label>
						<div class="col-md-3">
							<select name="immigration" placeholder="Immigration Status" ng-change="validateOffer();" 
								required ng-model="candidate.imigrationStatus"
								ng-options="o for o in iStatus" class="form-control">
								<option value='' disabled="disabled">Select Immigration
									Status</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						
						<label class="lbl col-md-2" style="margin-left:100px"><i
							class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;Joining Date<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<input type="text" class="form-control" ng-click="open($event)" ng-change="validateOffer();" 
								datepicker-popup="{{format}}" ng-model="candidate.joiningDate"
								is-open="opened" min-date="minDate" max-date="maxDate"
								datepicker-options="dateOptions"
								placeholder="Select Joining Date"
								date-disabled="disabled(date, mode)" ng-required="true"
								close-text="Close" />
						</div>
						
						<label class="lbl col-md-2" style="margin-left:0px"><i
							class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Designation <b
							class="mandatory-field" style="color: red;">*</b></label>
							
						<div class="col-md-3">
							 <select name="designation" 
								ng-model="candidate.designation"  ng-change="validateOffer();" 
								ng-options="o.designation as o.designation for o in designations | orderBy:'toString()'"
								class="form-control input-sm" >
								<option value='' disabled="disabled">Select Designation</option>
							</select>
							
							
							
						</div>
						
						
					</div>
					<div class="form-group">
						<label class="lbl col-md-2 col-md-offset-1" style="margin-left:100px"><i
							class="glyphicon glyphicon-euro"></i>&nbsp;&nbsp;CTC
							<span style="color: red;">*</span></label>
							
						<div class="col-md-3">
							<input  class="form-control input-sm" type="text" name="ctc" title="Enter numaric digits only"
								fcsa-number="{  }" ng-model="candidate.ctc"  class="form-control"   ng-change="validateOffer();" 
								ng-disabled="false" placeholder="Select CTC" required>
								
						</div>
						
						<label class="lbl col-md-2 col-md-offset-1" style="margin-left:0px"><i
							class="glyphicon glyphicon-euro"></i>&nbsp;&nbsp;Relocation
							Allowance<span style="color: red;">*</span></label>
						<div class="col-md-3">
							<!-- <select name="relAlowance"
								ng-model="candidate.relocationAllowance"
								ng-options="o for o in allowances" class="form-control input-sm">
								<option value='' disabled="disabled">Select Relocation
									Allowance</option>
							</select> -->
							<input number class="form-control input-sm" type="text" name="relAlowance"  title="Enter numaric digits only"
								fcsa-number="{  }" ng-model="candidate.relocationAllowance" class="form-control" ng-change="validateOffer();" 
								ng-disabled="false" placeholder="Select Relocation Allowance" required>
							
						</div>
						
					</div>
					<div class="form-group">
						<label class="lbl col-md-2" style="margin-left:100px"><i
							class="glyphicon glyphicon-euro"></i>&nbsp;&nbsp;Sign-on Bonus<span
							style="color: red;">*</span></label>
						<div class="col-md-3">
							<!-- <select name="bonus" ng-model="candidate.singInBonus"
								ng-options="o for o in bonus" class="form-control input-sm">
								<option value='' disabled="disabled">Select Sign-on
									Bonus</option>
							</select> -->
							<input number class="form-control input-sm" type="text" name="bonus" title="Enter numaric digits only"
							fcsa-number="{  }"	ng-model="candidate.singInBonus" class="form-control" ng-change="validateOffer();" 
								ng-disabled="false" placeholder="Select Sign-on Bonus" required>
							
						</div>
						<label class="lbl col-md-2" style="margin-left:0px"><i
							class="glyphicon "></i>&nbsp;&nbsp;
							Status<span style="color: red;">*</span></label>
						<div class="col-md-3">
							<select name="staus" ng-model="candidate.status" ng-change="validateOffer();validateStatus();"  ng-disabled="statusClosed"
								ng-options="o for o in offerData" class="form-control input-sm">
								<option value='' disabled="disabled"> Staus </option>
							</select>
						</div>
					</div>
					
					<!-- <div class="form-group">
					<label class="lbl col-md-2 col-md-offset-1" style="margin-left:0px"><i
							class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Select Offer
							Letter<span style="color: red;">*</span></label>
						<div class="col-md-3">
							<input id="uploadFile" type="file" class="custom-file-input"
								ng-file-select="upload($files)" valid-file required /> <small
								ng-show="fileError" style="color: red;">File Extensions
								Accepted: [doc, docx, pdf]</small>
						</div>
					
					</div> -->
					<!-- <div class="form-group">
						
						<label class="lbl col-md-2 col-md-offset-1" style="margin-left:100px"><i
							class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Select Offer
							Letter<span style="color: red;">*</span></label>
						<div class="col-md-3">
							<input id="uploadFile" type="file" class="custom-file-input" 
								ng-file-select="upload($files)" valid-file required /> <small
								ng-show="fileError" style="color: red;">File Extensions
								Accepted: [doc, docx, pdf]</small>
						</div>
						
						
					</div> -->
					
					
					
					<div class="form-group">
						<label class="lbl col-md-2 col-md-offset-1" style="margin-left:100px"><i
							class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;Comment</label>
						<div class="col-md-8">
							<textarea cols="500" rows="10" name="comment"
								ng-model="candidate.comments" placeholder="Place for Comment..."
								style="width: 64%; height: 70px; padding: 2px 12px;"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div align="center">
			<button type="submit" ng-disabled="isDisableOfferSave" class="btn btn-primary" ng-click="validateReportingManager();">
				<span class="glyphicon glyphicon-ok-circle"></span> Save
			</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="submit" class="btn btn-primary" ng-click="cancel()">
				<span class="glyphicon glyphicon-remove"></span> Cancel
			</button>
		</div>
		<br> <br>
	</form>
</div>

<style>
.form-group {
	text-align: left;
	padding-bottom: 1%;
}

.form-horizontal .lbl {
	padding-left: 0%;
}

.select2-container .select2-choice {
	height: 32px;
	border-radius: 1px;
	padding-left: 5%;
}

.select2-drop-active {
	width: 220px;
}
</style>
