<div class="container">
    <div ng-controller="interviewFeedbackCtrl" align="center">

        <div ng-class="cls" ng-show="message" align="center" style="width: 850px; position: relative; left: 90; height:50">
            <h5 style=" margin-top: 2px;">{{message}}</h5>
        </div>

        <form name="feedback_form">
            <div align="center">
                <div class="panel panel-default" style="position:relative;width:1000px;">
                    <div class="panel-heading" style="height:50px;">
                         <h4 style="color:white;">Interview Feedback Form - {{profile.candidateName}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row" align="left">
                                <div class="col-md-3">
                                    <label type="text" class="lbl" style="width:45%;" for="interviewRound">Round: </label>
                                     <input ng-model="interviewRoundName" style="width:52%;" ng-change="setfeedbackData(interviewRoundName);roundInfo()" ng-disabled="selectDropDownDisable" 
                                        id="interviewers" ng-options="o as o for o in position.interviewRounds | orderBy:'toString()'"
                                        required/>
                                </div>
                                <div class="col-md-3">
                                    <label class="lbl" for="date">Date: </label>
                                    <b>{{interviewDateTime | date:'medium'}}</b>
                                </div>
                                <div class="col-md-3">
                                    <label class="lbl"  for="emailId">Mode: </label>
                                    <b>{{typeOfInterview}}</b>
                                </div>
                                <div class="col-md-3">
                                    <label class="lbl" for="duration" style="width:35%;">Duration<b style="color :red;">*</b>: </label>
                                    <input type="text" name="duration"  placeholder="Max 60 Min" ng-keypress ="filterValue($event)" ng-disabled="disableFields" ng-model="interviewFeedback.duration" style="width:45%"  id="duration" required>
                                		<md-tooltip  md-direction="bottom"> Please enter time in minutes </md-tooltip> </input>
                                </div>
                        </div>
                        <div class="row" align ="left">
                        <div class="col-md-4 text-left">
							<div class="panel panel-default"  ng-hide="hideCreate" style="width: 150%;margin: 0% 15%;">
							
								<div class="panel-heading text-left" style="height: 36px;">
									<span style="color: white;">Rate Skills</span>
								</div>

								<div class="panel-body" align="left">
									<div class="row">
										<div class="col-md-2 text-left"></div>
										<div class="col-md-4 text-center">Skills</div>
										<div class="col-md-4 text-center">Rate</div>
										<div class="col-md-2 text-left"></div>
									</div>
										<div class="row" ng-repeat="rs in interviewFeedback.rateSkills ">
										<div class="col-md-2 text-center"></div>
										<div class="col-md-4">
											<input type="text"  class="form-control" ng-model="rs.skill" ng-disabled="disableSkills" ng-change="showAddSkills(rs, $index)">
										</div>
										<div class="col-md-4">
											<select name="rating" placeholder="Select Rating" ng-model="rs.rating" ng-options="o as o for o in rating"
		                                        class="form-control input-sm" ng-change="showAddSkills(rs, $index)" ng-disabled="disableSkills">
												<option value='' >Select Rating</option>
											</select>
										</div>
										<div class="col-md-2 text-center" ng-show="submitShow">
											<span class="glyphicon glyphicon-plus" style="cursor: pointer;" 
												ng-show="interviewFeedback.rateSkills.length==$index+1 && showaddskill_{{$index}}" ng-click="addSkills()"></span>
											<span class="glyphicon glyphicon-remove" style="cursor: pointer;" 
												ng-hide="interviewFeedback.rateSkills.length == $index+1" ng-click="removeSkills($index)"></span>
										</div>
										
									</div>
								</div>
							</div>
							</div>
							<div>
							 <div class="col-md-4" style="width: 20%;"></div>
							<label align="right" ng-show = "showRounds"> Earlier Rounds Information:</label>
							<div align="center" ng-show = "showRounds" ng-repeat="obj in roundListInfo">
							<b>  
				<a href="" ng-click="showFeedback(obj.round,obj.email)">
				<span class="label" style="color:black">{{obj.round}}</span></a>
							
							
							 </b> 
							</div>
							</div>
						</div>
                     
                     <div class="row" align="left">
                                <div class="col-md-2">
                                    <br><br>
                                    <label class="lbl" align="left">Additional commants: </label>
                                </div>
                                <div class="col-md-3">
                                	<div>
                                    </div>
                                    <br>
                                    <textarea ng-model="interviewFeedback.additionalSkills" style="width:180px;" ng-disabled="disableFields"></textarea>
                                </div>

                      </div>
                     <div class="row" align="left">
                     <div class="control-group" ng-hide="disableStatus">
                                <div class="col-md-2">
                                    <label class="lbl" align="left">Next Level<b style="color :red;">*</b>: </label></div>
                                <div class="col-md-3">
                                    <select name="status" placeholder="Select status" ng-model="interviewFeedback.status" ng-options="o as o for o in info.feedbackStatus "
                                        class="form-control input-sm" id="status" style="color: black;width: 80%" required>
										<option value='' disabled="disabled">Select Status</option>
									</select>
                                </div>
                        <div>
                            </div>
                            <div class="control-group">
                            </div>
                            </div>
                      </div>
                                <div class="col-md-6" align="right">
                                    <a href="" class="btn btn-info active" ng-hide="hideSubmit" ng-click="submit()" ng-show="submitShow" ng-disabled="feedback_form.$invalid">
                                        <span class="glyphicon glyphicon-ok-circle"></span> Submit
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="" class="btn btn-info active" ng-click="cancelFeedBack()" ng-disabled="">
                                        <span class="glyphicon glyphicon-remove"></span> Cancel
                                    </a>
                                </div>
                       </div>
                  </div>
             </div>
         </form>
      </div>
 </div>
