
<h2 class="heading-name">Interview Management</h2>
<br>
<br>
<div class="searchposition-container" ng-hide = "hasRole('ROLE_INTERVIEWER')">
	<form id="integerForm" role="form" action="#"
		name="interviewManagement" onvalidate>
		
		<div class="row" style="margin-top: 10px" >
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<ui-select ng-model="interview.client" ng-change="loadPositions()"
					class="ui-select-class" ng-hide="clienthidden"
					ng-disabled="disabled" reset-search-input="false"> <ui-select-match
					placeholder="Select Client">{{interview.client}}</ui-select-match>
				<ui-select-choices
					repeat="client in clientNames | filter: $select.search">
				{{client}} </ui-select-choices> </ui-select>
			</div>
			<div class="col-md-3">
				<ui-select ng-model="interview.position" ng-change="disableSearch()"
					ng-hide="positionhidden" ng-disabled="positionDisable"
					reset-search-input="false"> <ui-select-match
					placeholder="Select Position">{{interview.position}}</ui-select-match>
				<ui-select-choices
					repeat="position in positions | orderBy:'toString()' | filter: $select.search">
				{{position}} </ui-select-choices> </ui-select>
			</div>
			<div class="col-md-2">
				<a style="position: relative; top: 10px; left: 0px;" href="" ng-hide="clienthidden"
					ng-click="advancedSearch()"><small>Advanced Search</small></a>
			</div>
			<div class="col-md-2">
				<a href="" ng-disabled="searchDisable" class="btn btn-info active"
					ng-hide="positionhidden" ng-click="searchPosition()"> <span
					class="glyphicon glyphicon-search"></span>
				</a> <a href="" class="btn btn-info active" ng-hide="positionhidden"
					ng-click="loadInterviews()"> <span
					class="glyphicon glyphicon-refresh"></span>
				</a>
			</div>
		</div>
		
		<div class="row"  ng-hide="advancedHide" style="margin-top: 10px">
		<div class="col-md-1"></div>
		<div class="col-md-3">
		<ui-select ng-model="interview.skill"
						ng-change="searchBySkill()" class="ui-select-class"
						ng-hide="clienthidden" reset-search-input="false"> <ui-select-match
						placeholder="Select Skill">{{interview.skill}}</ui-select-match> <ui-select-choices
						repeat="skill in info.skills | orderBy:'toString()' | filter: $select.search">
					{{skill}} </ui-select-choices> </ui-select>
					</div>
		<div class="col-md-3">
		<ui-select ng-model="interview.progress"
						ng-change="searchByProgress()" ng-hide="positionhidden"
						reset-search-input="false"> <ui-select-match
						placeholder="Select Progress">{{interview.progress}}</ui-select-match>
					<ui-select-choices
						repeat="progress in info.interviewRounds | orderBy:'toString()' | filter: $select.search">
					{{progress}} </ui-select-choices> </ui-select>
		</div>
		<div class="col-md-3">
		<ui-select ng-model="interview.designation"
						ng-change="searchByDesignation()" ng-hide="positionhidden"
						reset-search-input="false"> <ui-select-match
						placeholder="Select Designation">{{interview.designation}}</ui-select-match>
					<ui-select-choices
						repeat="designation in info.designations | orderBy:'toString()'| filter: $select.search">
					{{designation}} </ui-select-choices> </ui-select>
		</div>
		</div>
		<br>
		
	</form>
	<div ng-hide="hideNoDataMessage"
			style="font-size: large; color: navy;">
			<b>{{noDataMessage}}</b>
		</div>
</div>
<br>
<div  class="searchposition-container" ng-hide = "tableHide"
	style="padding-top: 20px; padding-bottom: 20px; background-color: #f5f5f5">
    
    <div class="row" ng-hide = "hasNotRole('ROLE_INTERVIEWER') ">
    	
    	<div class="col-md-4"></div>
    	<div class="col-md-3">
    		 <form>
			    <div class="form-group">
			      <div class="input-group">
			        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
			        <input type="text" class="form-control" placeholder="Search Interviews" ng-model="searchInterviews">
			      </div>      
			    </div>
			  </form>
    	</div>
    
    </div>
    
	<table ng-hide="tableHide" id="interview"  class = "table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Email ID</th>
			<th>Skills</th>
			<th>Job Code</th>
			<th>Schedule</th>
			<th>Feedback</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in interviewDetails | orderBy:sortType:sortReverse | filter: { candidateName : searchInterviews} ">
		
			<td>{{item.candidateName}}</td>
			<td >{{item.candidateEmail}}</td>
			<td><i ng-repeat="skills in item.candidateSkills">{{skills}}{{$last
					? '' : ', '}}</i></td>
			<td ng-hide="hasRole('ROLE_INTERVIEWER')"><i
				ng-repeat="jobcode in item.positionId">{{jobcode}}{{$last ? '' :
					', '}}</i></td>
			<td ng-hide="!(hasRole('ROLE_INTERVIEWER'))">{{item.currentPositionId}}</td>
			<td>
				<button
					style="background-color: #F8F8F8; color: #337ab7; border: 0px;"
					href="" id="" class="interview-schedule"
					ng-disabled="hasNotRole('ROLE_RECRUITER')"
					ng-click="schedule(item.positionId,item.candidateEmail,item.currentPositionId)">
					<span class="glyphicon glyphicon-plus"
						style="position: relative; top: 1px;" />
				</button>
			</td>
			<td>
				<button style="background-color: #F8F8F8; border: 0px;" href=""
					id="" class="interview-feedback"
					ng-disabled="disableFeedback(item.rounds) && hasNotRole('ROLE_HR,ROLE_RECRUITER')"
					ng-click="feedback(item.currentPositionId,item.candidateEmail)">
					<span class="glyphicon glyphicon-envelope"
						style="position: relative; top: 1px;"></span>
				</button>
			</td>
			<td style="font-weight: bold">
				<span ng-if="item.rounds[item.rounds.length-1].roundName == 'Hr Round' && item.rounds[item.rounds.length-1].interviewFeedback.status == 'Yes' && hasRole('ROLE_HR,ROLE_RECRUITER')"> 
					<a style="padding-left: 5px;cursor: pointer" ng-click="selectCandidate(item,$index);" >Initialize offer 
						<md-tooltip md-direction="right"> Create / Update Offer</md-tooltip></a>
				</span>
				<span ng-if="item.rounds[item.rounds.length-1].roundName != 'Hr Round' || item.rounds[item.rounds.length-1].interviewFeedback.status != 'Yes'  || hasNotRole('ROLE_HR,ROLE_RECRUITER')"> 
					{{item.progress}}
					</span>
			</td>
		</tr>
		</tbody>
	</table>
</div>