<html>
<body>
	<p style="marign-left:200px">
    <b>Annexure - 1</b>
</p>
<p align="center">
    <b></b>
</p>
<p align="center">
    <b><u>Compensation Structure</u></b>
    <b><u></u></b>
</p>
<p align="justify">
    <u></u>
</p>
<p align="justify">
    Name: Mr. $cname
</p>
<p align="justify">
    Date of Commencement of Employment: $date
</p>
<table border="1px" cellspacing="0" cellpadding="0" align="center">
    <tbody >
        <tr bordercolor="black">
            <td width="267" valign="top">
                <p>
                    <u>Component </u>
                </p>
            </td>
            <td width="172" valign="top">
                <p>
                    <u>Monthly</u>
                    (in Rupees)<u></u>
                </p>
            </td>
            <td width="174" valign="top">
                <p>
                    <u>Annually</u>
                    (in Rupees)<u></u>
                </p>
            </td>
        </tr>
        
        <tr bordercolor="black">
            <td width="267" valign="top">
                <p>
                    Basic Pay
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $basicPayMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                     $basicPayYearly
                </p>
            </td>
        </tr>
        <tr bordercolor="black">
            <td height="20" width="267" valign="top">
                <p>
                    HRA
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $hraMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $hraYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    Medical Allowance
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $medicalAllowanceMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $medicalAllowanceYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    Conveyance Allowance
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $conveyanceAllowanceMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $conveyanceAllowanceYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    Special Allowance
                </p>
            </td>
            <td width="172" valign="top">
            	 <p>
                    $specialAllowanceMonthly
                </p>
            </td>
            <td width="174" valign="top">
             	<p>
                    $specialAllowanceYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    Other Allowance
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $otherAllowanceMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $otherAllowanceYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    <b>Gross Salary</b>
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $grossSalaryMonthly
                </p>
            </td>
            <td width="174" valign="top">
           		 <p>
                    $grossSalaryYearly
                </p>
            </td>
        </tr>
        <tr>
            <td height="20" width="267" valign="top">
               
            </td>
            <td width="172" valign="top">
            </td>
            <td width="174" valign="top">
            </td>
        </tr>
         <tr>
            <td width="267" valign="top">
               <p>
                    Prof. Tax
                </p>
            </td>
            <td width="172" valign="top">
              <p>
                    $professionalTaxMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                     $professionalTaxYearly
                </p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
               <p>
                    TDS(As per Income Tax Slab)
                </p>
            </td>
            <td width="172" valign="top">
              <p>-</p>
            </td>
            <td width="174" valign="top">
            	<p>-</p>
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
               <p>
                    Employee's PF Contribution
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $employeePfContributionMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $employeePfContributionYearly
                </p>
            </td>
        </tr>
         <tr>
            <td width="267" valign="top">
               <p>
                    Employee's Total Deduction
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $deductionsMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $deductionsYearly
                </p>
            </td>
        </tr>
        <tr>
            <td height="20" width="267" valign="top">
               
            </td>
            <td width="172" valign="top">
            </td>
            <td width="174" valign="top">
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
               <p>
                    <b>Net Salary</b>
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $netSalaryMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	 <p>
                    $netSalaryYearly
                </p>
            </td>
        </tr>
        <tr>
            <td height="20" width="267">
               
            </td>
            <td width="172">
            </td>
            <td width="174">
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
                <p>
                    Employer's PF Contribution
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $employerPfContributionMonthly
                </p>
           	   
            </td>
            <td width="174" valign="top">
            	 <p>
                    $employerPfContributionYearly
                </p>
            </td>
        </tr>
        <tr>
            <td height="20" width="267" valign="top">
               <p>   
               </p>
            </td>
            <td width="172" valign="top">
            </td>
            <td width="174" valign="top">
            </td>
        </tr>
        <tr>
            <td width="267" valign="top">
               <p>
                    <b>CTC</b>
                </p>
            </td>
            <td width="172" valign="top">
            	<p>
                    $ctcMonthly
                </p>
            </td>
            <td width="174" valign="top">
            	<p>
                    $ctcYearly
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>