<html>
<body>

<div style="font-size:16px;font-family:'Times New Roman', Georgia, Serif;">
<p>
<img align="left" width="144px" height="60px" src="https://www.google.com/a/nisum.com/images/logo.gif?alpha=1&service=google_default" ></img>
<span style="background-image:url('https://www.google.com/a/nisum.com/images/logo.gif?alpha=1&service=google_default');background-size:contain;max-width:144px;max-height:60px"></span>
</p>
<!-- <p>
     Mr, $cname,<br></br>
     $addressLine1,<br></br>
     $addressLine2,<br></br>
     $area - $pincode,<br></br>
     $city, $state.
</p> -->
<p>
    Dated:  $date
</p>
<p>
    <br></br>
    <b>Dear </b>
    <b>$cname,</b>
    <b></b>
</p>
<p align="center">
    <b>Re: Letter of Engagement from $company</b>
    <b></b>
</p>
<p align="justify">
    <b>$company</b>
    is pleased to offer you a position as <b>$designation</b>, subject however to your acceptance of the terms and conditions contained hereunder and
    contingent upon the successful completion of the Company standard hiring process which may include a background check and the execution of an employment
    agreement between you and the Company <b>(Employment Agreement)</b>.
</p>
<p align="justify">
    <b>TERMS &amp; CONDITIONS OF ENGAGEMENT</b>
    <b></b>
</p>
<p align="justify">
1) <b>Date of Commencement</b>: The Employee is required to commence employment with the Company as effective on or before<b> $date</b>.
</p>
<p align="justify">
    2) <b>Place of Posting:</b> Upon commencement of employment with the Company, you will be posted at $city. However, during your employment with the Company,
    the Company reserves the right in its sole discretion to post or transfer you to any other units, companies, offices or client sites of the Company,
    subject to the terms and conditions that may be determined by the Company at the time of such posting or transfer. You may be required by the Company to
    work in the Company standard shift system as may be intimated to you from time to time.
</p>
<p align="justify">
    3) <b>Salary:</b> In consideration for your employment with the Company, you shall be entitled to a gross annual remuneration of <b>$ctc,</b>
     the details of which are specifically provided for in Annexure -1 to this LoE. You may also receive such additional perks as may be detailed in
    Annexure I to this LoE and the same shall be provided at the sole discretion of the Company determined on the basis of your tenure with the Company, your
    individual performance, and your fulfillment of meeting the work standards as defined by the Company from time to time. You shall also receive such
    employment benefits as you may be entitled to and which the Company may provide based on its standard policies and procedures and required by law from time
    to time.
</p>
<p align="justify">
4) <b>Probation:</b> You will be on probation for period of <b>$probation</b> months from the Date of Commencement of Employment with the Company. Upon completion of the Probation as specified herein your employment with the Company will be evaluated and the Company may at its own
    discretion determine if the Probation may be extended or employment be confirmed or otherwise, as the Company deems appropriate.
</p>
<p align="justify">
    5) <b>Reporting Supervisor:</b> At the time of commencement of employment, you shall report to the nominated team head/lead or any person
    authorized/nominated by the Company from time to time, who will in turn assign your role, duties, and responsibilities in the Company.
</p>
<p align="justify">
    6) <b>Employee Obligations:</b> On the Date of Commencement of Employment you are required to provide the Company with the documents to support your
    identity and eligibility as detailed below in this LoE. If required by the Company, you shall sign and return to the Company an Employment Agreement on the
    Date of Commencement of Employment. You shall fulfill all of the duties assigned to you adhering to the Company's policies and procedures as may be
    intimated to you from time to time.
</p>
<p align="justify">
    7) <b>Intellectual Property</b>: All intellectual property created by the Employee during his/her course of employment with the Company relating to or
    capable of being used in the business for the time being carried on by the Company, shall be immediately be communicated by the Employee to the Company and
    shall be the sole and absolute property of the Company.
</p>
<p>
    <b></b>
</p>
<p align="justify">
    8) <b>Conflict of Interest:</b> The Employee shall not, at any time during the duration of the employment, throughout the territory of the world, either
    solely or jointly with or on behalf of any person or entity, which in any manner whatsoever conflict with the employment of the Employee with the Company
    and/or the business of the Company.<b></b>
</p>
<p align="justify">
    9) <b>Non-solicit</b>: During your employment and for a period of 2 years thereafter, the Employee shall not, for whatever reason, (except in the proper
    course of his duties for the Company), without the express prior written approval of the Company, directly or indirectly contact, solicit or influence or
    attempt to influence any (a) client, customer, whether prospective or otherwise, or other Person, directly or indirectly to direct his or its purchase of
    the Company's product and/or services to himself or any other person in competition with the business of the Company; (b) employee or consultant with a
    view to inducing such person to leave such position or employment and to act for the Employee, directly or indirectly, or to act for another company in the
    same or a similar capacity in relation to the same field of work.
</p>
<p>
    <b></b>
</p>
<p align="justify">
    10) <b>Confidentiality</b>: The Employee shall not divulge or communicate to any other person or entity, except in the proper course of his duties as an
    employee of the Company hereunder, any information of any confidential nature which he may, whether hitherto or hereafter, have received or obtained during
    the course of his employment with the Company, except for the purpose of performing his duties hereunder or unless ordered to do so by a competent court of
    law or required by law.
</p>
<p>
    <b></b>
</p>
<p align="justify">
    11) <b>Binding Agreement</b>: This LoE is not merely an offer for employment, but once executed by the Employee, shall constitute binding and valid terms
    and conditions governing the employment of the Employee.
</p>
<p>
    <b></b>
</p>
<p align="justify">
    12) <b>Prior Obligations: </b>
</p>
<p align="justify">
    a. To the extent that you have entered into any agreements with prior employers that contain provisions to which you remain legally bound, you will provide
    the Company with a copy of any such provisions, and agree to abide by all such obligations. This includes, but is not necessarily limited to, any
    confidentiality and proprietary information provisions. The Company strictly prohibits violation of statutory laws and lawful contractual obligations.
</p>
<p align="justify">
    b. By accepting employment with the Company, you confirm that you are not subject to any non-compete agreement or other contractual obligations that could,
    or could be construed to, prohibit you from accepting the position outlined in this letter or interfere with your ability to perform the duties associated
    with this position.
</p>
<p align="justify">
    13) <b>Documents Required</b><b>:</b> At the time of Commencement of Employment with the Company, you are required to bring with you the following original
    documents for verification with their photocopies, which would be retained by us for our records:
</p>
<ul>
    <li align="justify">
        Photographs (2 passport size)
    </li>
    <li align="justify">
        Two copies of Passport / Voter ID card / Pan Card / Driving License
    </li>
    <li align="justify">
        All educational certifications including mark sheets in full
    </li>
    <li align="justify">
        Relieving Letters &amp; Service Certificates (If employed previously)
    </li>
    <li align="justify">
        Proof of last drawn salary
    </li>
    <li align="justify">
        Passport / Proof of address
    </li>
    <li align="justify">
        Form -16 along with earnings certificate for IT purpose
    </li>
    <li align="justify">
        Blood Group with Medical Fitness Certificate
    </li>
    <li align="justify">
        Executed Employment Agreement
    </li>
    <li align="justify">
        Two reference letters from persons known to you
    </li>
</ul>
<p align="justify">
    The above terms and conditions are based on Company policies and other rules currently applicable in India as well as overseas and are subject to
    amendments and adjustments from time to time. You are also required to abide by all other rules and regulations of the Company as shall be in force.
</p>
<p align="justify">
    Please sign and return the duplicate copy of this LoE within 2 days of receipt of the same to indicate your acceptance of this engagement, failing which
    this LoE shall stand, cancelled automatically, unless a written extension is provided by the Company.
</p>
<p align="justify">
    We are privileged to have you with us and personally welcome and wish you a very successful career with us.
</p>
<p align="justify">
    <b>Best Regards,</b>
    <b></b>
</p>
<p align="justify">
    ____________________________
</p>
<p align="justify">
    For <b> [</b><b>Nisum India] </b>
</p>
<p align="justify">
    Name:
</p>
<p align="justify">
    Title:
</p>
<p align="justify">
    I accept the terms and conditions:
</p>
<p align="justify">
    ____________________________
</p>
<p align="justify">
    Mr. $cname
</p>
<p align="justify">
    Date: $currentDate
</p>
<p align="justify">
    Date of Commencement of Employment: $date
</p>
<p align="center">
    <b>               </b>
</p>
<p align="center">
    <b>          </b>
</p>

<p>
    <i> </i>
</p>
</div>
</body></html>