<html>
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">

<div style="border:0px solid #004C7F;border-bottom-color: #004C7F; color:black; border-color:#004C7F;">
<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi $cname,</p><br></br>

You have been selected for the position of $designation.
Here are the details of your offer: <br></br>
<br></br>
 

<table style="width:450px;border: 0px Gray;">

<tr><td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;"><b>Candidate Name :</b></td>
<td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;">$cname</td> 
</tr>

<tr><td style="border: 1px #000000; text-align:left;size: 9px 9px; background-color:#F9FCF7;"><b>Designation:</b></td>
<td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;">$designation</td> 
</tr>

<tr><td style="border: 1px #000000; text-align:left;size: 9px 9px; background-color:#F9FCF7;"><b>CTC</b></td>
<td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;">$ctc</td> 
</tr>

<tr><td style="border: 1px #000000; text-align:left;size: 9px 9px; background-color:#F9FCF7;"><b>Joining Date</b></td>
<td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;">$joiningDate</td> 
</tr>

<tr><td style="border: 1px #000000; text-align:left;size: 9px 9px; background-color:#F9FCF7;"><b>Location</b></td>
<td style="border: 1px #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;">$location</td> 
</tr>

</table>
<br></br>


 <span style="font-size:15px">Regards,</span><br></br>
 <span style="font-size:15px">Recruitment Team,</span><br></br>
 <span style="font-color:Gray;color:Gray;font-size:15px"><a href="http://nisum.com/index.html">Nisum Technologies</a></span><br></br>
</div>
</div>
<div style="background-color:#D0D0D0;border-color:#004C7F;">
<a href="http://nisum.com" target="_blank"><img src="http://www.nisum.com/images/logo.png"></img></a>

</div> 
<br></br>
</body>
</html>
