	<h2 class="heading-name">
		Position Management - Search
	</h2>
	<br>

	<div ng-class="cls" ng-show="message" align="center"
		style="width: 850px; position: relative; top: -35px; height: 50">
		<h5 style="margin-top: 2px;">{{message}}</h5>
	</div>
	<div class="searchposition-container" style="border: none;">
		<br>
		<form action="#" name="createPosition" class="searchPosition" onvalidate>
			<form id="integerForm" role="form" class="form-horizontal">
				<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4">
				<div class="input-group">
            				<input class="form-control" ng-model="filterValue" ng-change="searchFilter()" placeholder="Enter Search String" type="search" 
            				style="width: 80%;border: 1px solid rgb(194, 191, 191);"/>
            					 <span class="input-group-addon" style="position: relative;left: -19%">
      								<span class="glyphicon glyphicon-search"></span>
								</span>
        					</div>
				</div>
				<div class="col-md-1">
				<a id="rsBtn1"  href="#recruitment/createPosition"
							class="btn btn-info active"
							ng-disabled="hasNotRole('ROLE_ADMIN,ROLE_HR,ROLE_RECRUITER,ROLE_MANAGER')"> <span
								class="glyphicon glyphicon-plus"></span>
						</a>
				</div>
				</div>
				<br>
					
					<div id="serachPos_grid" ui-grid="gridOptions" class="ui-grid-conf searchprof-grid" ui-grid-pagination>
						<div class="no-rows" ng-if="!gridOptions.data.length">
							<div class="msg">
								<span>No Profiles Exists</span>
							</div>
						</div>
						
						<div>
							<span class="grid-tot-rec">Total Records : {{gridOptions.totalItems}}</span>
							<div class="text-center pull-right ui-gri-pager" ng-show="gridOptions.totalItems > numRows">
								<pagination class="pagination-sm" total-items="gridOptions.totalItems" items-per-page="gridOptions.paginationPageSize" 
						        	ng-model="gridOptions.paginationCurrentPage"></pagination>
							</div>
						</div>
					</div>
				
				
					<!-- <table ng-hide="tableHide" id="interview"
						class="table table-striped"
						style="margin-left: 0px; width: 94%; top: -18px;">
						<thead>
							<tr>
								<th>Job code</th>
								<th>Designation</th>
								<th>Min-Exp</th>
								<th>Max-Exp</th>
								<th>Location</th>
								<th>Client</th>
								<th>Share</th>
							</tr>
						</thead>
						<tbody>
							<tr class="animate-repeat"
								ng-repeat="data in position | filter: search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
								<td class="mdl-data-table__cell--non-numeric"><a style="cursor:pointer;"
									ng-click="editPosition(data.jobcode)">{{data.jobcode}}</a></td>
								<td class="mdl-data-table__cell--non-numeric">{{data.designation}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{data.minExpYear}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{data.maxExpYear}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{data.location}}</td>
								<td class="mdl-data-table__cell--non-numeric">{{data.client}}</td>
								<td class="mdl-data-table__cell--non-numeric"><left>
								</left>&nbsp;&nbsp;&nbsp;
								<right><a href="" style="cursor:pointer;" ng-click="shareContent(data.jobcode)">
									<img src="https://simplesharebuttons.com/images/somacro/linkedin.png" width="20" height="20" title="Share on Linked In" /></a></right>
								</td>
							
							</tr>
							<tr class="animate-repeat" ng-if="results.length == 0">
								<td>No results found...</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-3">
							<h5>Total Positions
								: {{ position.length }}</h5>
						</div>

						<div class="col-md-9">
								<ul class="pagination pull-right">
									<li ng-class="{disabled: currentPage == 0}"><a href
										ng-click="prevPage()">Prev</a></li>
									<li ng-repeat="n in range(currentPage)"
										ng-class="{active: n == currentPage}" ng-click="setPage()">
										<a href ng-bind="n + 1"></a>
									</li>
									<li ng-class="{disabled: currentPage == pageCount() - 1}"><a
										href ng-click="nextPage()">Next</a></li>
								</ul>
						</div>
					</div> --><br><br>
			</form>
		</form>
	</div>

