<style>

.nav {
margin-top: 27px; margin-left: 69px;
}

	/* .navbar-collaspe{ */
	/* margin-left: -8%; */
	/* } */

.nav-header li a{
padding: 9px;
}

.nav-header li.active> a {
background: #00ACD5;
border-bottom: 4px solid #CD5C5C;
} 

.nav-header li.active> a {
/* background: red;
 */border-bottom: 4px solid #CD5C5C;
} 

.nav-header li.active:visited> a{
background: #00ACD5;
border-bottom: 4px solid #CD5C5C;}
</style>


<div class="navbar navbar-fixed-top mdl-shadow--4dp" style="background: #00ACD5;height: auto">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle"
			data-target=".navbar-responsive-collaspe" data-toggle="collapse"
			style="margin-right: 10%; border-radius: 2px soild white;">
			<span class="sr-only" style="background: white;">Toggle navigation</span> <span class="icon-bar" style="background: white;"></span>
			<span class="icon-bar" style="background: white;"></span> <span class="icon-bar" style="background: white;"></span>
		</button>

		<div>
		
			<object class="" id="logo" type="image/svg+xml" data="static/images/logo_test.svg" height="65px">
              Nisum Recruitment Portal
            </object>
			<h3 class="logo-sub">Recruitment Portal</h3> 
		
		</div>
	</div>
	<div class=" navbar-collaspe collaspe navbar-responsive-collaspe" >
		<ul class="nav nav-tabs nav-header">
			<li ng-class="{active: getActiveTab() == 'Dashboard'}"><a data-toggle="tab" href="#main" ng-click="setActiveTab('Dashboard')"
				>
<!-- 				<i class="glyphicon glyphicon-home"></i> -->
				<span id="Dashboard">&nbsp;&nbsp;Dashboard</span></a></li>
			<li ng-class="{active: getActiveTab() == 'Recruitment'}"><a data-toggle="tab" ng-href="{{hasRole('ROLE_INTERVIEWER')? '#recruitment/interviewManagement' : '#recruitment/searchProfile'}}" data-target="#recruitment" ng-click="setActiveTab('Recruitment')"
				ng-show="!hasRole('ROLE_USER,ROLE_INTERVIEWER')" ng-click="alHide()">
<!-- 				<i class="glyphicon glyphicon-phone-alt"></i> -->
				<span>&nbsp;&nbsp;Recruitment</span></a></li>		
			<!-- <li><a data-toggle="tab" href="#searchPosition"
				ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR')" ng-click="alHide()"><i
					class="glyphicon glyphicon-list" ></i><span>&nbsp;&nbsp;Position</span></a></li>
			<li><a data-toggle="tab" href="#searchProfile"
				ng-show="hasRole('ROLE_ADMIN,ROLE_USER,ROLE_MANAGER,ROLE_HR,ROLE_INTERVIEWER')" ng-click="alHide()"><i
					class="glyphicon glyphicon-file"></i><span>&nbsp;&nbsp;Profile</span></a></li>
			<li><a data-toggle="tab" href="#interviewManagement"
				ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_INTERVIEWER')" ng-click="alHide()"><i
					class="glyphicon glyphicon-phone-alt"></i><span>&nbsp;&nbsp;Interview</span></a></li> -->
			<li ng-class="{active: getActiveTab() == 'Offer'}"><a data-toggle="tab" href="#offer" ng-click="setActiveTab('Offer')"
				ng-show="hasRole('ROLE_MANAGER,ROLE_HR,ROLE_RECRUITER')">
<!-- 				<i class="glyphicon glyphicon-gift"></i> -->
				<span>&nbsp;&nbsp;Offer</span></a></li>
			<li ng-class="{active: getActiveTab() == 'Reports'}"><a data-toggle="tab" href="#searchReport" ng-click="setActiveTab('Reports')"
				ng-show="hasRole('ROLE_ADMIN,ROLE_MANAGER,ROLE_HR,ROLE_RECRUITER')" ng-click="alHide()">
<!-- 				<i class="glyphicon glyphicon-list-alt"></i> -->
				<span>&nbsp;&nbsp;Reports</span></a></li>
			<li ng-class="{active: getActiveTab() == 'Admin'}"><a data-toggle="tab" ng-href="{{hasRole('ROLE_ADMIN')? '#admin/users' : '#admin/skillSet'}}" data-target="#admin" ng-click="setActiveTab('Admin')"
				ng-show="hasRole('ROLE_ADMIN,ROLE_HR,ROLE_HR,ROLE_RECRUITER')" ng-click="alHide()">
<!-- 				<i class="glyphicon glyphicon-user"></i> -->
					<span>&nbsp;&nbsp;Admin</span></a></li>
			<li class="dropdown pull-right"><a href=""
				class="dropdown-toggle" data-toggle="dropdown"
				style="text-decoration: none; color: white;" ng-click="alHide()">
				<img class="img img-circle " src="{{profile_picture}}" class="img-circle" width="25" height="25" >
				&nbsp;{{user.name}}&nbsp;<!-- <span
					class="badge badge-default"
					style="background-color: #FB5557; position: relative; top: -10px;">
						{{count}} </span> --><b class="caret"></b></a>
				<ul class="dropdown-menu pull-right">
					<li><a href="#viewUser" ng-click="alHide(); setActiveTab('Profile')" >
						<img class="img img-circle " src="{{profile_picture}}" class="img-circle" width="25" height="25" >
						&nbsp;&nbsp;Profile</a>
					</li>
					<li><a id="logout" href="logout.html" ng-click="alHide()"><i
							class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Logout</a></li>
 <!-- 					<li class="divider"></li> 
					<li><a href="" data-toggle="modal" data-target="#myModal"><i
							class="icon-bell"></i>&nbsp;&nbsp;Notification <span
							class="badge badge-default"
							style="background-color: #FB5557; font-size: 9px; position: relative; top: -7px;">
								{{count}} </span> </a></li> -->
				</ul></li>
		</ul>
	</div>

</div>

